In [1]:
import sqlite3
import pandas as pd

In [2]:
sql_connect = sqlite3.connect('geo_project.db')

In [3]:
cursor = sql_connect.cursor()

In [15]:
x = int(input("Enter the x location: "))
y = int(input("Enter the y location: "))

Enter the x location: 0
Enter the y location: 0

In [16]:
query = f"""select name, sqrt(pow(({y} - r.locate_y), 2) + pow(({x} - r.locate_x), 2)) as distance
           from restaurant r
           order by distance
           limit 5;"""

In [17]:
results = cursor.execute(query).fetchall()

In [13]:
print(results)

[('nnx742ne8mzlopa', 26.40075756488817), ('fdxca', 29.068883707497267), ('m2m4bq8', 29.154759474226502), ('m6n uk', 33.24154027718932), ('d7vp5bjsc3k75mtz40qu', 42.15447781671598)]

In [18]:
pd.read_sql_query(query, sql_connect)

                   name   distance
0        3 fmltfha\n6rc  37.735925
1         iy\nivxr539ij  42.941821
2  \tfhbzm\t k6yn2iw2bj  48.414874
3  d7vp5bjsc3k75mtz40qu  55.154329
4        h0g4c6q5hb2\n3  61.846584